<h1>Statuses</h1>
<% @statuses.each do |status| %>
  <div class='status'>
    <h2><%= status.name %></h2>
    Status: <%= status.up ? "up" : "down" %>
  </div>
<% end %>

<%= link_to "Update", update_statuses_path, :method => :post, :class => "pure-button" %>

